.background__about
    background-image: url(../images/about/background2.png)
    background-position-y: -120%
    background-repeat: no-repeat
    position: relative
    > *
        position: relative
        z-index: 2
    &::after
        content: ""
        background: linear-gradient(180deg, rgba(1, 22, 39, 0) 0%, #011627 76.64%, #011627 100%)
        position: absolute
        z-index: 1
        bottom: 10%
        left: 0
        width: 100%
        height: 40%
    &::before
        content: ""
        background: linear-gradient(0deg, rgba(1, 22, 39, 0) 0%, #011627 76.64%, #011627 100%)
        position: absolute
        z-index: 1
        top: 0
        left: 0
        width: 100%
        height: 40%
.about
    width: 100%
    display: flex
    flex-direction: row
    padding: 30px 80px
    padding-top: 250px
    &__left
        width: 35%
    &__title
        font-family: $title-font
        font-weight: 700
        font-size: 3em
        padding-top: 30px
    &__info
        display: flex
        flex-direction: column
        &-line
            padding: 15px 0
            i
                color: red
    &__right
        width: 65%
        display: flex
        flex-wrap: wrap
        justify-content: center
        padding-left: 50px
        img
            max-width: 280px
    &__profile
        &-martin
            position: relative
            &-description
                position: absolute
    &__btn
        letter-spacing: 0.15em
        font-size: 14px
        margin-top: 15px

@media (max-width: 1200px)
    .about
        &__title
            padding-top: 0
        &__info
            &-line
                padding: 10px 0
        &__right
            padding-left: 30px
            img
                width: 240px
        &__btn
            padding-right: 15px

@media (max-width: 992px)
    .about
        padding-left: 0px
        padding-right: 0px
        flex-direction: column
        &__left
            width: 100%
            text-align: center
        &__right
            width: 100%
            padding-left: 0
            flex-wrap: nowrap
            img
                width: 200px
                padding: 10px
        &__info
            &-line
                padding: 5px 0
        &__btn
            margin: 0 auto

@media (max-width: 768px)
    .about
        &__right
            flex-wrap: wrap
            justify-content: space-around
            img
                width: 250px

@media (max-width: 576px)
    .about
        padding-top: 30px
        &__title
            font-size: 1.5em
        &__info
            &-line
                font-size: 12px
        &__btn
            font-size: 12px
        &__right
            img
                padding: 0