.footer
    padding-top: 200px
    &__nav
        display: flex
        justify-content: space-evenly
        padding-bottom: 50px
        i
            color: $accent
    &__block
        ul
            list-style: none
            padding-left: 0
            position: relative
            &::before
                content: ""
                position: absolute
                width: 40px
                height: 2px
                background-color: $accent
                top: -31px
            li
                padding-bottom: 15px
        i
            padding-left: 40px
        p
            text-transform: uppercase
            font-weight: 700
            font-size: 18px
            padding-bottom: 15px
    &__follow
        p
            text-transform: uppercase
            font-weight: 700
            font-size: 18px
            padding-bottom: 15px
            position: relative
            &::after
                content: ""
                position: absolute
                width: 40px
                height: 2px
                background-color: $accent
                bottom: -13px
                left: 0
        &-arrow
            padding-left: 40px
            padding-bottom: 20px
        &-sm
            i
                padding: 10px
                font-size: 20px
                &:first-child
                    padding-left: 0
    &__copyright
        font-size: 15px
        text-align: center
        padding-bottom: 50px
    &__logo
        text-align: center
